/* ------------------------------------ *\
    #LINKS
\* ------------------------------------ */

/**
 * Link base styles
 */
a {
    outline: 0;
    text-decoration: none;
    transition: color $anim-fade-quick $anim-ease;

    &:hover, &:focus {
        color: $color-links-hover;
    }

}
