/* ------------------------------------ *\
    #TEXT
\* ------------------------------------ */

/**
 * Paragraph base styles
 */
p {
    margin-bottom: $spacing;
}

/**
 * Blockquote base styles
 */
blockquote {
    border-left: 1px solid $color-neutral-gray-50;
    color: $color-neutral-gray-50;
    font-style:italic;
    margin-bottom: $spacing;
    padding-left: 1rem;
}

/**
 * Horizontal rule base styles
 */
hr {
    background: $color-neutral-gray-13;
    border: 0;
    height: 1px;
    margin: 1rem 0;
}

/**
 * Selection styles
 */
::-moz-selection {
    background: $color-text-highlight-bg; /* Gecko Browsers */
    color: $color-text-highlight;
}

::selection {
    background: $color-text-highlight-bg; /* WebKit/Blink Browsers */
    color: $color-text-highlight;
}

/**
 * Code base styles
 */
code {
    background: $color-neutral-gray-02;
    border: 1px solid $color-neutral-gray-13;
    display: inline-block;
    font-size: .85rem;
    line-height: 1.2;
    padding: .2rem .5rem;
}

/**
 * Preformatted text base styles
 */
pre {
    background: $color-neutral-gray-02;
    border: 1px solid $color-neutral-gray-13;
    font-size: $font-size-med;
    overflow-x: auto;
    padding: 1rem;

    /**
     * Remove border from code within preformatted text block
     */
    code {
        border: 0;
    }
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
    font-family:monospace !important;
}
