/* ------------------------------------ *\
    #FIELDS
\* ------------------------------------ */

/**
 * 1) Consists of a label, form control, and an optional note about the field.
 */
.c-field {
    margin-bottom: $spacing-large;
}

/**
 * Field label
 */
.c-field__label {
    font-size: $font-size-med;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/**
 * Field body
 */
.c-field__body {
    position: relative;
}

/**
 * Field note
 */
.c-field__note {
    color: $color-neutral-gray-50;
    display: inline-block;
    font-size: $font-size-sm;
}
