/* ------------------------------------ *\
    $FOOTER
\* ------------------------------------ */

/**
 * 1) Global block at the bottom of each page that contains a navigation and other information
 */
.c-footer {
    background: $color-brand-blue-dark;
    margin-top: 2rem;
    padding: 2rem 0;
}

.c-footer__inner {
    @media all and (min-width: $bp-med) {
        display: flex;
    }
}

.c-footer__bottom {
    @media all and (min-width: $bp-med) {
        margin-left: auto;
    }
}

.c-footer__credit, .c-footer__copyright {
    color: $color-neutral-white;
    font-family: $font-family-secondary;
    font-size: $font-size-sm-2;
    text-transform: uppercase;

    a {
        color: $color-brand-orange;

        &:hover, &:focus {
            color: $color-neutral-gray-50;
        }
    }
}
