/* ------------------------------------ *\
    #PAGINATION
\* ------------------------------------ */

/**
 * Pagination
 */
.c-pagination {
    
    /* hola */
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-secondary;
    justify-content: center;
    margin-bottom: 1rem;
    overflow: hidden;
    text-transform: uppercase;
}

.c-pagination__item {
    border-right: 1px solid $color-neutral-gray-13;

    &:last-child {
        border: 0;
    }
}

.c-pagination__link {
    padding: 1rem;
    text-decoration: underline;

    .c-pagination__item:first-child & {
        padding-left: 0;
    }

    .c-pagination__item.is-active & {
        font-weight: bold;
        pointer-events: none;
        text-decoration: none;
    }

    .c-pagination__item.is-disabled & {
        color: $color-neutral-gray-13;
        pointer-events: none;
        text-decoration: none;
    }
}
