/* ------------------------------------ *\
    #PAGE HEADER
\* ------------------------------------ */

/**
 * 1) Container that consists of of a page header title and description
 */

/**
 * Page header title
 */
.c-page-header {
    margin-bottom: $spacing-large;
    margin-top: 4rem;
}

/**
 * Page description
 */
.c-page-header__desc {
    margin-top: 1rem;
}
