/* ------------------------------------ *\
    #PROGRESS TRACKER
\* ------------------------------------ */

/**
 * 1) Ordered list showing progress (i.e. step by step)
 * 2) Display flex used to put items in row. Flex wrap wraps items underneat when space is
 *    unavailable.
 */

.c-progress-tracker {
    display: flex; /* 2 */
    flex-wrap: wrap; /* 2 */
    justify-content: center;
}

/* Progress tracker iterm */
.c-progress-tracker__item {
    font-size: $font-size-sm-2;
    margin-right: 2rem;
    text-align: center;
    width: 5rem;

    /* Don't display the horizontal line on the last item number */
    &:last-child .c-progress-tracker__number:before {
        display: none;
    }
}


.c-progress-tracker__number {
    background-color: $color-neutral-white;
    border: 1px solid $color-brand-blue;
    color: $color-brand-blue;
    margin-bottom: .5rem;
    padding: .125rem;
    position: relative;

    @media all and (min-width: $bp-small) {
        padding: .5rem;
    }

    .is-complete & {
        background-color: $color-neutral-gray-13;
        border-color: $color-neutral-gray-13;
    }

    .is-current & {
        background-color: $color-brand-blue;
        color: $color-neutral-white;
        font-weight: bold;
    }

    .is-disabled & {
        border-color: $color-brand-blue;
        color: $color-brand-blue-dark;
    }

    &:before {
        background-color: $color-neutral-gray-13;
        content: " ";
        display: block;
        height: 1px;
        position: absolute;
        right: -4rem;
        top: 50%;
        width: 4rem;
        z-index: -1;
    }
}

.c-progress-tracker__label {
    display: none;

    /* Do show it on larger screens */
    @media all and (min-width: $bp-small-2) {
        display: inline;
    }

    .is-current & {
        font-weight: bold;
    }

}
