/* ------------------------------------ *\
    #STACKED BLOCK
\* ------------------------------------ */

/**
 * 1) A link block consisting of media, headline, and description all stacked on top
 * of each other
 * 2) Capped for demo purposes
 */
.c-stacked-block {
    display: flex;
    flex-direction: column;
    max-width: 600px; /* 2 */
    position: relative;
    transition: transform $anim-fade-quick $anim-ease;

    &:hover, &:focus {
        transform: scale(1.03);
    }
}

.c-stacked-block__body {
    flex: 1;
}

.c-stacked-block__title {
    color: $color-brand-blue;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color $anim-fade-quick $anim-ease;

    .c-stacked-block:hover &, .c-stacked-block:focus & {
        color: $color-brand-orange;
    }
}

.c-stacked-block__excerpt {
    color: $color-neutral-gray-73;
    margin-bottom: 0;
}

.c-stacked-block__meta {
    color: $color-brand-blue;
    font-family: $font-family-secondary;
    font-size: $font-size-med-2;
    margin-bottom: 0;
    transition: color $anim-fade-quick $anim-ease;

    .c-stacked-block:hover &, .c-stacked-block:focus & {
        color: $color-brand-orange;
    }
}

.c-stacked-block__badge {
    background: $color-brand-orange;
    color: $color-neutral-white;
    display: block;
    font-family: $font-family-secondary;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
}

.c-stacked-block__optional {
    color: $color-neutral-gray-50;
    font-family: $font-family-secondary;
    font-size: $font-size-sm-2;
    margin-left: 0.5rem;
    text-decoration: line-through;
}
