
/* ------------------------------------ *\
    #TOUT BLOCK
\* ------------------------------------ */

/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-tout {
    display: block;
    max-width: 1024px;
    overflow: hidden;
    position: relative;
}

/**
 *  Tout image
 */

.c-tout__img {
    display: block;
}

/**
 *  Tout headline
 */
.c-tout__headline {
    bottom: 0;
    color: $color-neutral-white;
    font-size: 1.4rem;
    left: 0;
    letter-spacing: 1px;
    padding: 0.5rem;
    position: absolute;
    text-transform: uppercase;
    transition: all $anim-fade-quick $anim-ease;
    width: 100%;

    .c-tout:hover &, .c-tout:focus & {
        background: $color-brand-blue;
        padding-bottom: 2rem;
    }
}
