/* ------------------------------------ *\
    #COLORS
\* ------------------------------------ */

/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */





/* ------------------------------------ *\
    #GLOBAL TEXT COLOR
\* ------------------------------------ */

/**
 * Body text and background colors
 */
$color-body-bg: $color-neutral-white !default;



/* ------------------------------------ *\
    #LINKS
\* ------------------------------------ */

$color-links-hover: $color-brand-orange !default;




/* ------------------------------------ *\
    #BUTTONS
\* ------------------------------------ */

$color-btn-primary: $color-neutral-white !default;

$color-btn-secondary-bg: $color-neutral-white !default;
$color-btn-secondary-bg-hover: $color-neutral-gray-07 !default;

$color-btn-disabled-bg: $color-neutral-gray-07 !default;





/* ------------------------------------ *\
    #FORMS
\* ------------------------------------ */
